<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_PAVI.Properties.Settings.TP_PAVI_ExtendidoConnectionString"
            connectionString="Data Source=DESKTOP-EP9FF3K\SQLEXPRESS;Initial Catalog=TP_PAVI_Extendido;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>